# Object files
*.obj

# Linker output
*.map
*.exp

# Precompiled Headers
*.pch

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Exclusions
!binw/*.*
!examples/*.*
!l32/*.*
!pctest/*.*
